<%- include('partials/header.ejs', { activePage: '' }) %>

<div class="myContainer">
	<div class="details">
		<div class="left-side">
			<!-- Book Cover -->
			<div class="img-wrapper">
				<% const imgSrc = book.cover_url ? book.cover_url :
				'/assets/dummy-image-portrait.jpg' %>
				<img src="<%= imgSrc %>" alt="Book Cover" class="details-img" />
			</div>

			<!-- Buttons -->
			<div class="details-buttons">
				<% if (isFromApi) { %>
				<form action="/book/<%= book.olid %>/add" method="get">
					<button class="btn-soft mt-2 title" type="submit">
						<i data-lucide="Plus"></i>
						Add Book
					</button>
				</form>
				<% } else {%>
				<a href="/book/<%= book.id %>/edit" class="btn-soft mt-2 title">
					<i data-lucide="Pencil"></i>
					Edit
				</a>
				<form action="/db/<%= book.id %>/delete" method="post">
					<button
						class="btn-soft mt-2 title"
						type="submit"
						onclick="return confirm('Are you sure?')"
					>
						<i data-lucide="Trash2"></i>
						Delete
					</button>
				</form>
				<% } %>
			</div>
		</div>

		<!------------ Book Info --------------->
		<div class="right-side">
			<div class="info">
				<h1 class="title">
					<%= book.title %>
					<span style="font-size: 1.3rem">
						<%= book.year ? `(${book.year})` : "" %>
					</span>
				</h1>
				<p class="text">by <%= book.author %></p>

				<!--------------- Star Rating --------------->
				<div class="star-rating" style="width: fit-content">
					<% if (book.ratings) { %>
					<i data-lucide="Star" style="fill: var(--celadon)"></i>
					<span>
						Rated <%= book.ratings.average %> / 5 (<%= book.ratings.count %>
						reviews)
					</span>
					<% } else { %>
					<span>Rated <%= book.user_rating %>/5</span>
					<span class="stars stars-<%= book.user_rating %>">
						<i data-lucide="Star"></i>
						<i data-lucide="Star"></i>
						<i data-lucide="Star"></i>
						<i data-lucide="Star"></i>
						<i data-lucide="Star"></i>
					</span>
					<% } %>
				</div>

				<p class="text">
					<%= book.created_at ? 'Added on ' + book.created_at : '' %>
				</p>
			</div>

			<div class="description">
				<h4 class="title">Description</h4>

				<!-- Only cut description if details come from my own database -->
				<div class="text description-text" id="description-text">
					<%- book.description ? book.description : "No description available"
					%>
				</div>
				<button class="text btn-soft" id="expandBtn">
					Expand <i class="fa-solid fa-chevron-down"></i>
				</button>
			</div>
			<% if (book.review) { %>
			<div class="review">
				<h4 class="title">My Thoughts</h4>
				<p class="text">
					<%= book.review ? book.review : 'No review available' %>
				</p>

				<% } %>
			</div>
		</div>
	</div>

	<script>
		const isFromApi = <%- JSON.stringify(isFromApi) %>;
		console.log("Is from API:", isFromApi);
		const content = document.getElementById("description-text");
		const button = document.getElementById("expandBtn");

		document.addEventListener("DOMContentLoaded", function(){
			// expand DIV when isFromApi === true OR div height < 105 pixels
				if (content) {
					if (isFromApi || content.offsetHeight <= 105) {
						content.classList.remove("hideContent")
						button.style.display = "none";
					}

					if (!isFromApi && content.offsetHeight > 105){
						content.classList.add("hideContent")
						button.style.display = "flex"
					} else {
						button.style.display = "none"
					}
					// when isFromApi === false AND div has class hideContent i have to show the button
					if (!isFromApi && content.classList.contains("hideContent")){
						button.style.display = "flex";
					}
				}
			})
			// handle button click -> show or hide content depending on classes
			button.addEventListener("click", function(){
				if (content.classList.contains("hideContent")){
							content.classList.replace("hideContent", "showContent")
							button.innerHTML = "Collapse <i class='fa-solid fa-chevron-up'></i>";
						} else {
							content.classList.replace("showContent", "hideContent")
							button.innerHTML = "Expand <i class='fa-solid fa-chevron-down'></i>";
						}
					})
	</script>
</div>
<%- include('partials/footer.ejs') %>
