<%- include('partials/header.ejs') %>

    <h3 class="title">Library</h3>

    <!------------- SORTING MENU AND BOOK COUNT --------------->
    <div class="sort-container">
			<form action="/" method="get" class="sort-menu">
				<label for="sort" class="form-label title">Sort by:</label>
				<select class="form-select text" name="sort" id="sort" onchange="this.form.submit()">
					<!-- keep selected the chosen sorting option -->
					<option value="rating" <%=sortBy==='rating' ? 'selected' : '' %>>Rating</option>
					<option value="recent" <%=sortBy==='recent' ? 'selected' : '' %>>Most Recent</option>
					<option value="title" <%=sortBy==='title' ? 'selected' : '' %>>Title (A-Z)</option>
				</select>
			</form>
			<p class="text">
				Total books: <%= books.length %>
			</p>
    </div>

    <!---------------- BOOK CARDS -------------->
    <div class="cards-container">
			<% if (locals.books) { %>
				<% books.forEach(book=> { %>
					<div class="book-card visible text-center">
						<div class="card-img-wrapper">
							<img 
								src="<%= book.cover_id ? `https://covers.openlibrary.org/b/id/${book.cover_id}-M.jpg` : '/assets/dummy-image-portrait.jpg' %>"	
								alt="Book Cover" 
								class="book-cover img-fluid" />
						</div>
						<!-- Book Info -->
						<div class="card-body">
							<h5 class="card-title title">
								<%= book.title %>
							</h5>
							<p class="text-muted card-title text">
								By <%= book.author %>
							</p>
							<!-- Star Rating -->
							<div class="star-rating">
								<span class="stars stars-<%= book.user_rating %>">
									<i data-lucide="Star"></i>
									<i data-lucide="Star"></i>
									<i data-lucide="Star"></i>
									<i data-lucide="Star"></i>
									<i data-lucide="Star"></i>
								</span>
							</div>

							<a 
								href="/book/<%= book.id %>" 
								class="btn btn-soft title" 
								style="margin: 0;">
								Read review
							</a>
						</div>
					</div>
				<% }) %>

			<% } else {%>
				<h2 class="title">No books to show</h2>
			<% } %>
    </div>
    <!------------- IN CASE OF AN ERROR WITH DATABASE idk ------------->
    <% if (locals.error) { %>
			<div class="myContainer">
					<div class="error">Failed to fetch books.</div>
			</div>
    <% } %>

<%- include('partials/footer.ejs') %>